header{
    height: 10vh;
    background-color: #3b8864;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:fixed;
    top:0;
  }

  .guide-button{
    height: 50px;
    width: 50px;
    
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    margin-left: 1vw;
  }
  
  .guide-button:hover{
    background-color: #00000010;
  }
.logo{
    height: 5vh;
    width: 10vw;
}
.header-midle-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    font-size: 3vh;
}
